:root {
    --primary: #e5b686;
    --bg: #ffb8b8;
    
}

* {
    font-family: 'sour gummy' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--bg);
    color: white;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 1.4 7%;
    background-color: rgba(255, 184, 184, 0.8);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo {
font-size: 2rem;
font-weight: 700;
color: #ffffff;
}

.navbar .navbar-nav a {
 color: #ffffff;
 display: inline-block;
 font-size: 1.2rem;
 margin: 0.1rem;
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}





.navbar .navbar-extra a{
    color: #ffffff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* media queries */

/* laptop */ 
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
    
}

/* mobile-phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }
    
}